html
  head= title
  body
  h1 PHÒNG 1
  h2 THIẾT BỊ 1
  form(action = '/thietbi1', method = 'post')
    button(
      id = 'TB1', 
      type='submit')= thietbi1state

  h2 THIẾT BỊ 2
  form(action = '/thietbi2', method = 'post')
    button(
      id = 'TB2', 
      type='submit')= thietbi2state

  h2 THIẾT BỊ 3
  form(action = '/thietbi3', method = 'post')
    button(
      id = 'TB3', 
      type='submit')= thietbi3state  
     
  h1 PHÒNG 2

  h1 PHÒNG 3