html
  body
    h1 SMARTHOME CONTROL PAGE
    h2 PHÒNG 1
    
    form(action = '/device1', method = 'post')
      h3(style = "float:left; margin-left: 10px") THIẾT BỊ 1
      button(
        id = 'TB1', 
        type='submit',
        style = "float:left; width: 70px; height: 40px; margin-top: 15px; margin-left: 40px",
      )= device1state
    form(action = '/setTimeDevice1', method = 'get')
      button( 
        type='submit',
        style = "width: 80px; height: 40px; margin-top: 15px; margin-left: 10px"
      ) SET TIME
    
    
    form(action = '/device2', method = 'post')
      h3(style = "float:left; margin-left: 10px") THIẾT BỊ 2
      button(
        id = 'TB2', 
        type='submit',
        style = "width: 70px; height: 40px; margin-top: 15px; margin-left: 40px",
        )= device2state
         
    
    form(action = '/device3', method = 'post')
      h3(style = "float:left; margin-left: 10px") THIẾT BỊ 3
      button(
        id = 'TB3', 
        type='submit',
        style = "width: 70px; height: 40px; margin-top: 15px; margin-left: 40px",
        )= device3state  
      
    h2 PHÒNG 2
    h2 PHÒNG 3