<!-- /. NAV SIDE  -->
<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li>
                <a href="login"><i class="fa fa-dashboard"></i> Dashboard</a>
            </li>
            <li>
                <a href="login"><i class="fa fa-list-alt"></i> Control</a>
            </li>
            <li>
                <a href="login"><i class="fa fa-camera"></i> Camera</a>
            </li>
            <li>
                <a href="login"><i class="fa fa-bar-chart-o"></i> Charts</a>
            </li>
            <li>
                <a href="login"><i class="fa fa-qrcode"></i> Tabs & Panels</a>
            </li>
            
            <li>
                <a href="login"><i class="fa fa-table"></i> Responsive Tables</a>
            </li>
            <li>
                <a href="login"><i class="fa fa-edit"></i> Forms </a>
            </li>
            <li>
                <a href="login"><i class="fa fa-fw fa-file"></i> Empty Page</a>
            </li>
        </ul>
    </div>
</nav>
<!-- /. PAGE WRAPPER  --> 
<div id="page-wrapper" >
    <div id="page-inner" >
        
        
            <div class = "boxDistance">
                <div class="col-md-5" style = "margin-left: 30%; margin-top: 10%">                     
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div align="center"><h1 style = "font-weight:bold">Login</h1></div>
                        </div>
                        <div class="panel-body">
                            <form action = "/logincheck", method = "post">
                                <br>
                                <label>User name</label>
                                <input class="form-control" id="username" name="username" placeholder="Username">
                                <br>
                                <label>Password</label>
                                <input class="form-control" id="password" name="password" placeholder="Password">
                                <br>
                                <div align="center">
                                    <button type="submit" class="btn btn-success btn-lg"> LOGIN </button>
                                </div>
                            </form>
                        </div>
                    </div>            
                </div>
            </div>
        
        
    </div>    
</div>