<!-- /. NAV SIDE  -->
<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li>
                <a href="login"><i class="fa fa-dashboard"></i> Dashboard</a>
            </li>
            <li>
                <a href="login"><i class="fa fa-list-alt"></i> Control</a>
            </li>
            <li>
                <a href="login"><i class="fa fa-camera"></i> Camera</a>
            </li>
            <li>
                <a href="login"><i class="fa fa-bar-chart-o"></i> Charts</a>
            </li>
            <li>
                <a href="login"><i class="fa fa-qrcode"></i> Tabs & Panels</a>
            </li>
            
            <li>
                <a href="login"><i class="fa fa-table"></i> Responsive Tables</a>
            </li>
            <li>
                <a href="login"><i class="fa fa-edit"></i> Forms </a>
            </li>
            <li>
                <a href="login"><i class="fa fa-fw fa-file"></i> Empty Page</a>
            </li>
        </ul>
    </div>
</nav>
<!-- /. PAGE WRAPPER  --> 
<div id="page-wrapper" >
    <div id="page-inner">
        
        <div class = "boxDistance">
            <div class="col-md-5">                     
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1>LOGIN</h1>
                    </div>
                    <div class="panel-body">
                        <form action = "/login", method = "post">
                            <label>User name</label>
                            <input class="form-control" id="username" name="username">
                            <br>
                            <label>Password</label>
                            <input class="form-control" id="password" name="password">
                            <br>
                            <button type="submit" class="btn btn-success btn-lg"> LOGIN </button>
                        </form>
                    </div>
                </div>            
            </div>
        </div>
        
        
    </div>    
</div>