
<h1> SMARTHOME SET TIME FOR DEVICES PAGE </h1>

<form action = "/submitTheTimeDevice1", method = "get">
    <h2> Set time when turn device on </h2>
    <input type="time" name="setTimeOn">
    <h2> Set time when turn device off </h2>
    <input type="time" name="setTimeOff">
    <br>
    <br>
    <button style = "width: 70px; height: 40px",>
        SET TIME
    </button>
</form>

    