html
  body
    h1 SMARTHOME SET TIME FOR DEVICES PAGE
    form(action ='/submitTheTimeDevice1' , method = 'get')
      h2 DEVICE 1
      h2 Set time when turn device on
      input(type= 'time',
            name= 'setTimeOn',       
            )
      h2 Set time when turn device off
      input(type= 'time',
            name= 'setTimeOff',       
            )      
      br
      br
      br      
      button(
        id = 'TB1', 
        type='submit',
        style = "width: 70px; height: 40px",
      ) Set Time
    